article {
  display: flex;  
  flex-flow: row wrap;
  font-weight: normal;
  text-align: center;
  color: #fff
}

article > * {
  padding: 10px;
  flex: 1 100%;
}

header {
  background: #320099;
}

.footer {
  background: #7F7E7C;
}

.main {
  text-align: left;
  background: #c06;
}

.aside-1 {
  background: #a3779f;
}

.aside-2 {
  background: #c1b88d;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; } 
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

body {
  padding: 2em; 
}
